on: [push, pull_request]

jobs:
  unit:
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu" ]
        go: [ "1.22.x", "1.23.x" ]
    runs-on: ${{ fromJSON(vars[format('INTEGRATION_RUNNER_{0}', matrix.os)] || format('"{0}-latest"', matrix.os)) }}
    name: Integration tests (${{ matrix.os}}, Go ${{ matrix.go }})
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Set working directory
        working-directory: integration
        run: go version
      - name: Run unit tests
        working-directory: integration
        run: go test ./...
      - name: Build Docker images
        working-directory: integration
        env:
          RACE: true
        run: make build

      - name: Run ping test
        working-directory: integration
        run: |
          make ping
          make target=logs_ping copylogs

      - name: Run ping test on IPv6
        working-directory: integration
        run: |
          make pingv6
          make target=logs_pingv6 copylogs

      - name: Run HTTP test
        working-directory: integration
        run: |
          make http
          make target=logs_http copylogs

      - name: Run HTTP test on IPv6
        working-directory: integration
        run: |
          make httpv6
          make target=logs_httpv6 copylogs

      - name: Run HTTP/3 test
        working-directory: integration
        run: |
          make http3
          make target=logs_http3 copylogs

      - name: Run HTTP/3 test on IPv6
        working-directory: integration
        run: |
          make http3v6
          make target=logs_http3v6 copylogs

      - name: Save logs
        uses: actions/upload-artifact@v4
        with:
          name: logs_go${{ matrix.go }}_${{ github.run_id }}
          path: |
            integration/logs_ping
            integration/logs_pingv6
            integration/logs_http
            integration/logs_httpv6
            integration/logs_http3
            integration/logs_http3v6
